@(message: String, form: Form[TitleForm.Data] , postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Lab 2 MashUps") {
@defining(play.core.PlayVersion.current) { version =>
<section id="content">
    <div class="container">
        <h2> Part 1 </h2>
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        @request.flash.data.map{ case (name, value) =>
                        <p>@name: @value</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <form action="@routes.PaperQueryController.getMetaByTitle" method="Post">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">1.1</span>
                            <p>Given a paper name (i.e., title), list its publication metadata.</p>
                            <div class="input-field">
                                <input type="text" id="autocomplete-input" class="autocomplete" name="title" value="@form("title").value">
                                <label for="autocomplete-input">Enter a paper name here</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="waves-effect waves-light btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">1.2</span>
                        <p>Given a journal name and a year (volume) and an issue (number), find out the metadata of all the papers published in the book (means the volume+number of the journal).</p>
                        <div class="row">
                            <div class="input-field col s4">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a journal name</label>
                            </div>
                            <div class="input-field col s4">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a year(volume)</label>
                            </div>
                            <div class="input-field col s4">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter an issue(mumber)</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">1.3</span>
                        <p>Display the titles of the articles published by a researcher in a specific year;</p>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a research name</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a year</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">1.4</span>
                        <p>Display all the authors who have published more than 10 papers in the area of SOSE to date (Hint: Since I manually extracted all SOSE papers to you in this sub-dataset, these papers included mean all the SOSE papers to date).</p>
                        <div class="input-field">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Enter a paper name here</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2> Part 2 </h2>
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <p>@message</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">2.1</span>
                        <p>Given a researcher's name and a year, list all published articles' metadata</p>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a research name</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Enter a year</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">2.2</span>
                        <p>For the productive authors (e.g., published more than 10 papers) in the area of SOSE, list all of their co-authors;
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}
}